<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>











<!-- priya -->


  <script src="js/angular.min.js"></script>  
  <script src="js/angular-animate.min.js"></script>
  <script src="js/angular-aria.min.js"></script>
  <script src="js/angular-messages.min.js"></script>
  <script src="js/angular-material.min.js"></script> 
  
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/smart-table.min.js"></script>
  <script src="js/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="js/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="js/ui-bootstrap-tpls.js"></script>

 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>


<script type="text/javascript" src="aboutus.js"></script>







    <!-- Title -->
    <title>Dheeraj Academy</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="style.css">

</head>

<body>




    <div ng-app='myAppabout' ng-controller="aboutCntrl"> 



    <!-- ##### Preloader ##### -->
    <div id="preloader">
        <i class="circle-preloader"></i>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        
            <div class="container h-100">
                <div class="row"style="text-align: left;">
                    <div class="col-md-1.5"style="text-align: right;">
                       
                            
                                <a href="img/core-img/logo.png" style="width: 50%;height: 50%;"><img src="img/core-img/logo.png" style="width: 100px;height: 90px;" alt=""></a>
                            
                            </div>

                            <div class="col-md-5" style="text-align: left;"><br><br>
                                <div class="login-content">
                               <a href="index.html"> <b style="font-size: 20px;"><u class="kk"><kk class="kk" >D</kk>heeraj <kk class="kk" >A</kk>cademy</u></b></a>
                            </div>
                        </div>


                  <!--  <div class="col-md-6 pull-right"style="text-align: right;"><br><br>
                            <div class="login-content">
                                <a href="#">Register / Login</a>
                            </div>
                        </div> -->
                    </div>
                </div>
            
      
      

        <!-- Navbar Area -->
        <div class="academy-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="academyNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul><li style="color: transparent;">---</li>
                                    <!-- <li><a href="img/core-img/logo.png"><img src="img/core-img/logo.png" style="width:100px;height: 60px;" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html"> <b style="font-size: 20px;"><u>Dheeraj Academy</u></b></a>
</li> -->
                                    <li><a href="index.html"><strong style="font-size: 14px;"><b>Home</b></strong></a></li><li style="color: transparent;">------</li>
                                    <!-- <li><a href="#">Pages</a>
                                        <ul class="dropdown">
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="about-us.html">About Us</a></li>
                                            <li><a href="course.html">Course</a></li>
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                            <li><a href="elements.html">Elements</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Mega Menu</a>
                                        <div class="megamenu">
                                            <ul class="single-mega cn-col-4">
                                                <li><a href="#">Home</a></li>
                                                <li><a href="#">Services &amp; Features</a></li>
                                                <li><a href="#">Accordions and tabs</a></li>
                                                <li><a href="#">Menu ideas</a></li>
                                                <li><a href="#">Students Gallery</a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li><a href="#">Home</a></li>
                                                <li><a href="#">Services &amp; Features</a></li>
                                                <li><a href="#">Accordions and tabs</a></li>
                                                <li><a href="#">Menu ideas</a></li>
                                                <li><a href="#">Students Gallery</a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li><a href="#">Home</a></li>
                                                <li><a href="#">Services &amp; Features</a></li>
                                                <li><a href="#">Accordions and tabs</a></li>
                                                <li><a href="#">Menu ideas</a></li>
                                                <li><a href="#">Students Gallery</a></li>
                                            </ul>
                                            <div class="single-mega cn-col-4">
                                                <img src="img/bg-img/bg-1.jpg" alt="">
                                            </div>
                                        </div>
                                    </li> -->
                                    <li><a href="about-us.html"><strong style="font-size: 14px;"><b>About Us</b></strong></a></li>
                                    <li style="color: transparent;">------</li>
                                    <li><a href="Why.html"><strong style="font-size: 14px;"><b>Why DA ?</b></strong></a></li>
                                    <li style="color: transparent;">------</li>
                                    <li><a href="course.html"><strong style="font-size: 14px;"><b>Course</b></strong></a></li>
                                    <li style="color: transparent;">------</li>
                                    <li><a href="contact.html"><strong style="font-size: 14px;"><b>Contact</b></strong></a></li>
                                    <li><a href="gallery.html"><strong style="font-size: 14px;"><b>Gallery</b></strong></a></li>
                                    <li style="color: transparent;">---</li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>

                        <!-- Calling Info -->
                        <div class="calling-info">
                            <div class="call-center">
                                <a href="tel:0204350752"><i class="icon-telephone-2"></i> <span>020 24350752</span></a><br>
                                <!-- <a href="tel:+919890577558"><i class="icon-telephone-2"></i> <span>(+91) 9890577558</span></a> -->
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start ##### -->
    <!-- <section class="hero-area">
        <div class="hero-slides owl-carousel">
 -->
            <!-- Single Hero Slide -->
          <!--   <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/bg-1.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h4 data-animation="fadeInUp" data-delay="100ms">All the courses you need</h4>
                                <h2 data-animation="fadeInUp" data-delay="400ms">Wellcome to our <br>Dheeraj Academy</h2>
                                <a href="#" class="btn academy-btn" data-animation="fadeInUp" data-delay="700ms">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- Single Hero Slide -->
        <!--     <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/bg-1.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h4 data-animation="fadeInUp" data-delay="100ms">All the courses you need</h4>
                                <h2 data-animation="fadeInUp" data-delay="400ms">Wellcome to our <br>Dheeraj Academy</h2>
                                <a href="#" class="btn academy-btn" data-animation="fadeInUp" data-delay="700ms">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img" style="background-image: url(img/bg-img/breadcumb.jpg);">
        <div class="bradcumbContent">
            <h2>About Us</h2>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### About Us Area Start ##### -->
    <section class="about-us-area mt-50 section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                        <span>The Best</span>
                        <h3>We are the Academy</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="500ms">
                        <!-- <h4>Dheeraj academy was established in june 1997. Dheeraj academy is the prime destination for students from 8th  upto post graduation. We believe in the holistic development of the child.we ensure bright future for the students. We host the best faculties to cater knowledge to the students for a better tomorrow.</h4> -->
                        <h4 ng-repeat="data1 in activeContentList">{{data1.contentName}}<!-- Dheeraj academy was established in june 1997. Dheeraj academy is the prime destination for students from 8th  upto post graduation. We believe in the holistic development of the child.we ensure bright future for the students. We host the best faculties to cater knowledge to the students for a better tomorrow. --></h4>
                    </div>
                </div>
            </div>
       






              <div class="row form-group">
<div ng-repeat="data in left | filter:'active':true" style="margin-left: 46px;margin-bottom: 15px;">
<div class="col-md-6">
<div class="card" style="width: 200px;height: 212px;">
<img class="card-img-top img-responsive" src="{{data.profileImg}}" alt="Card image" style="width:100%;height: 200px;background-color: green;">
<div class="card-body">
<div class="row form-group">
<div class="col-md-6">
{{data.profileName}}
</div>
</div>
<div class="row form-group">
<div class="col-md-6">
{{data.profileQualification}}
</div>
</div>

</div>
</div> <!-- card -->
</div>
</div>

<div ng-repeat="data in right | filter:'active':true" style="margin-left: 46px;margin-bottom: 15px;">
<div class="col-md-6">
<div class="card" style="width: 200px;height: 212px;">
<img class="card-img-top" src="{{data.profileImg}}" alt="Card image" style="width:100%;height: 200px;background-color: green;">
<div class="card-body">
<div class="row form-group">
<div class="col-md-6">
{{data.profileName}}
</div>
</div>
<div class="row form-group">
<div class="col-md-6">
{{data.profileQualification}}
</div>
</div>
</div>
</div>
</div>
</div>

</div>






    </div>
 
</section>

<!-- </div>
     -->
 
    <!-- ##### Footer Area Start ##### -->
<!--    <footer class="footer-area">
        <div class="main-footer-area section-padding-100-0">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="footer-widget mb-100">
                             <div class="login-content">
                               <a href="index.html"> <b style="font-size: 20px;color: white;margin-left: -80px;"><u class="kk"><kk class="kk" >D</kk>heeraj <kk class="kk" >A</kk>cademy</u></b></a>
                            </div>


                            <div class="widget-title" style="margin-top: 33px">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.131650358758!2d73.82143331465466!3d18.477694987434013!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2955ea2a4832d%3A0x18cd6cf02d5236fc!2sDHEERAJ%20ACADEMY!5e0!3m2!1sen!2sin!4v1572861837279!5m2!1sen!2sin" width="255" height="170" frameborder="3" style="border:3;margin-left: -75px;" allowfullscreen=""></iframe> 
                            </div>

                            
                            <div class="footer-social-info">
                                <a href="#"><i class="fa fa-facebook" style="font-size: 28px;"></i></a>
                                <a href="#"><i class="fa fa-twitter" style="font-size: 28px;"></i></a>
                                <a href="#"><i class="fa fa-instagram" style="font-size: 28px;"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                                <center><h6>Gallery</h6></center>
                            </div>
                            <div class="gallery-list d-flex justify-content-between flex-wrap">
                                <div class="row">
                                    <div class="col-md-4">
                                <a href="img/Functions/1.jpg" class="gallery-img" title="Gallery Image 1"><img src="img/Functions/1.jpg" alt=""></a>
                                    </div>

                                    <div class="col-md-4">
                                <a href="img/Functions/2.jpg" class="gallery-img" title="Gallery Image 2"><img src="img/Functions/2.jpg" alt=""></a>
                                    </div>

                                    <div class="col-md-4">
                                <a href="img/Functions/3.jpg" class="gallery-img" title="Gallery Image 3"><img src="img/Functions/3.jpg" alt="" style="margin-bottom: 12px;"></a>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-4">    
                                <a href="img/Functions/4.jpg" class="gallery-img" title="Gallery Image 4"><img src="img/Functions/4.jpg" alt=""></a>
                                    </div>

                                    <div class="col-md-4">
                                <a href="img/Functions/5.jpg" class="gallery-img" title="Gallery Image 5"><img src="img/Functions/5.jpg" alt=""></a>
                                    </div>

                                    <div class="col-md-4">
                                <a href="img/Functions/6.jpg" class="gallery-img" title="Gallery Image 6"><img src="img/bg-img/gallery6.jpg" alt=""></a>
                                    </div>
                                </div>    
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                                <center><h6 style="margin-left: 218px;">Contact</h6></center>
                            </div>
                            <div class="single-contact d-flex mb-50">
                                <i class="icon-placeholder"></i>
                                <p style="color: white;">हेड ऑफिस : फ्लॅट नं. १० ,अरुणा अपार्टमेंट ,मोहिते टाऊनशिप ,सिंहगड रोड ,पुणे-४११ ०५१ </p>
                            </div>
                            <div class="single-contact d-flex mb-50">
                                <i class="icon-telephone-1"></i>
                                <p style="color: white;">शाखा १ : ऑफिस नं . २०१ ,मोहिते पॅराडाईस ,पुना बेकरीच्या वर ,सिहंगड रोड ,पुणे -४११ ०५१. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="footer-widget mb-100" style="margin-top: 72px;">
                            
                            <div class="single-contact d-flex mb-50">
                                <i class="icon-telephone-1"></i>
                                <p style="color: white;">शाखा २ : फ्लॅट नं . , नाकोडा निवास ,अभिरुची जवळ ,वडगांव बु ।।,सिहंगड रोड ,पुणे -४११ ०५१</p>
                            </div>
                            <div class="single-contact d-flex">
                                <i class="icon-contract"></i>
                                <p style="color: white;">ashwincnisal@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </footer> -->
    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="main-footer-area section-padding-100-0">
            <div class="container">
                <div class="row">
                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="footer-widget mb-100">
                             <div class="login-content">
                               <a href="index.html"> <b style="font-size: 20px;color: white;margin-left: -80px;"><u class="kk"><kk class="kk" >D</kk>heeraj <kk class="kk" >A</kk>cademy</u></b></a>
                            </div>


                            <div class="widget-title" style="margin-top: 33px">
                                <!-- <a href="#"><img src="img/core-img/logo.png" alt=""  style="width: 30%;height: 30%;margin-top: 35px;"></a> -->
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.131650358758!2d73.82143331465466!3d18.477694987434013!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2955ea2a4832d%3A0x18cd6cf02d5236fc!2sDHEERAJ%20ACADEMY!5e0!3m2!1sen!2sin!4v1572861837279!5m2!1sen!2sin" width="255" height="170" frameborder="3" style="border:3;margin-left: -75px;" allowfullscreen=""></iframe> 
                            </div>

                            
                            <div class="footer-social-info">
                                <a href="#"><i class="fa fa-facebook" style="font-size: 28px;"></i></a>
                                <a href="#"><i class="fa fa-twitter" style="font-size: 28px;"></i></a>
                               <!--  <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-behance"></i></a> -->
                                <a href="#"><i class="fa fa-instagram" style="font-size: 28px;"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                                <center><h6>Gallery</h6></center>
                            </div>
                            <div class="gallery-list d-flex justify-content-between flex-wrap">
                                <div class="row">
                                    <div class="col-md-4">
                                <a href="img/Functions/1.jpg" class="gallery-img" title="Gallery Image 1"><img src="img/Functions/1.jpg" alt=""></a>
                                    </div>

                                    <div class="col-md-4">
                                <a href="img/Functions/2.jpg" class="gallery-img" title="Gallery Image 2"><img src="img/Functions/2.jpg" alt=""></a>
                                    </div>

                                    <div class="col-md-4">
                                <a href="img/Functions/3.jpg" class="gallery-img" title="Gallery Image 3"><img src="img/Functions/3.jpg" alt="" style="margin-bottom: 12px;"></a>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-4">    
                                <a href="img/Functions/4.jpg" class="gallery-img" title="Gallery Image 4"><img src="img/Functions/4.jpg" alt=""></a>
                                    </div>

                                    <div class="col-md-4">
                                <a href="img/Functions/5.jpg" class="gallery-img" title="Gallery Image 5"><img src="img/Functions/5.jpg" alt=""></a>
                                    </div>

                                    <div class="col-md-4">
                                <a href="img/Functions/6.jpg" class="gallery-img" title="Gallery Image 6"><img src="img/bg-img/gallery6.jpg" alt=""></a>
                                    </div>
                                </div>    
                            </div>
                        </div>
                    </div>
                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                                <center><h6 style="margin-left: 218px;">Contact</h6></center>
                            </div>
                            <div  ng-repeat="data in leftList | filter:'active':true">
                            <div class="single-contact d-flex mb-50">
                                <i class="icon-placeholder"></i>
                                <p style="color: white;">{{data.address}}</p>
                            </div>
                            </div>
                           <!--  <div class="single-contact d-flex mb-50">
                                <i class="icon-telephone-1"></i>
                                <p style="color: white;">शाखा १ : ऑफिस नं . २०१ ,मोहिते पॅराडाईस ,पुना बेकरीच्या वर ,सिहंगड रोड ,पुणे -४११ ०५१. </p>
                            </div> -->
                        
                        </div>
                    </div>
                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div  ng-repeat="data in rightList | filter:'active':true">
                        <div class="footer-widget mb-100" style="margin-top: 72px;">
                            
                            <div class="single-contact d-flex mb-50">
                                <i class="icon-telephone-1"></i>
                                <p style="color: white;">{{data.address}}</p>
                            </div>
                            <!-- <div class="single-contact d-flex">
                                <i class="icon-contract"></i>
                                <p style="color: white;">ashwincnisal@gmail.com</p>
                            </div> -->
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </footer>


    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

</div>

</body>

</html>