<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>


      <script type="text/javascript" src="course.js"></script>

    <!-- Title -->
    <title>Dheeraj Academy</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="style.css">



<style>
    h11{
        padding: 20px;
        color: black;
        font-size: 20px;
       background: linear-gradient(to bottom left, #ffff00 0%, #ff3300 100%);
        text-align: center;
        width: 500px;
        border-bottom-right-radius: 34px;
    }



    #kk{
        text-align: center;
        width: 100%;
        /*background-color: green;*/
        padding: 30px;
        height: 500px;
        border:34px;
        border: 3px solid black;

    }
    
#lab{
    color: red;
}
hr{
    background-color: gray;
}
</style>


</head>

<body>
        <div ng-app="myApp" ng-controller="courseCtrl">

    <!-- ##### Preloader ##### -->
    <div id="preloader">
        <i class="circle-preloader"></i>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        
            <div class="container h-100">
                <div class="row"style="text-align: left;">
                    <div class="col-md-1.5"style="text-align: right;">
                       
                            
                                <a href="img/core-img/logo.png" style="width: 50%;height: 50%;"><img src="img/core-img/logo.png" style="width: 100px;height: 90px;" alt=""></a>
                            
                            </div>

                            <div class="col-md-5" style="text-align: left;"><br><br>
                                <div class="login-content">
                               <a href="index.html"> <b style="font-size: 20px;"><u class="kk"><kk class="kk" >D</kk>heeraj <kk class="kk" >A</kk>cademy</u></b></a>
                            </div>
                        </div>


                  <!--  <div class="col-md-6 pull-right"style="text-align: right;"><br><br>
                            <div class="login-content">
                                <a href="#">Register / Login</a>
                            </div>
                        </div> -->
                    </div>
                </div>
            
      
      

        <!-- Navbar Area -->
        <div class="academy-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="academyNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul><li style="color: transparent;">---</li>
                                    <!-- <li><a href="img/core-img/logo.png"><img src="img/core-img/logo.png" style="width:100px;height: 60px;" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html"> <b style="font-size: 20px;"><u>Dheeraj Academy</u></b></a>
</li> -->
                                    <li><a href="index.html"><strong style="font-size: 14px;"><b>Home</b></strong></a></li><li style="color: transparent;">------</li>
                                    <!-- <li><a href="#">Pages</a>
                                        <ul class="dropdown">
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="about-us.html">About Us</a></li>
                                            <li><a href="course.html">Course</a></li>
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                            <li><a href="elements.html">Elements</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Mega Menu</a>
                                        <div class="megamenu">
                                            <ul class="single-mega cn-col-4">
                                                <li><a href="#">Home</a></li>
                                                <li><a href="#">Services &amp; Features</a></li>
                                                <li><a href="#">Accordions and tabs</a></li>
                                                <li><a href="#">Menu ideas</a></li>
                                                <li><a href="#">Students Gallery</a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li><a href="#">Home</a></li>
                                                <li><a href="#">Services &amp; Features</a></li>
                                                <li><a href="#">Accordions and tabs</a></li>
                                                <li><a href="#">Menu ideas</a></li>
                                                <li><a href="#">Students Gallery</a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li><a href="#">Home</a></li>
                                                <li><a href="#">Services &amp; Features</a></li>
                                                <li><a href="#">Accordions and tabs</a></li>
                                                <li><a href="#">Menu ideas</a></li>
                                                <li><a href="#">Students Gallery</a></li>
                                            </ul>
                                            <div class="single-mega cn-col-4">
                                                <img src="img/bg-img/bg-1.jpg" alt="">
                                            </div>
                                        </div>
                                    </li> -->
                                    <li><a href="about-us.html"><strong style="font-size: 14px;"><b>About Us</b></strong></a></li>
                                    <li style="color: transparent;">------</li>
                                    <li><a href="Why.html"><strong style="font-size: 14px;"><b>Why DA ?</b></strong></a></li>
                                    <li style="color: transparent;">------</li>
                                    <li><a href="course.html"><strong style="font-size: 14px;"><b>Course</b></strong></a></li>
                                    <li style="color: transparent;">------</li>
                                    <li><a href="contact.html"><strong style="font-size: 14px;"><b>Contact</b></strong></a></li>
                                    <li><a href="gallery.html"><strong style="font-size: 14px;"><b>Gallery</b></strong></a></li>
                                    <li style="color: transparent;">---</li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>

                        <!-- Calling Info -->
                        <div class="calling-info">
                            <div class="call-center">
                                <a href="tel:0204350752"><i class="icon-telephone-2"></i> <span>020 24350752</span></a><br>
                                <!-- <a href="tel:+919890577558"><i class="icon-telephone-2"></i> <span>(+91) 9890577558</span></a> -->
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img" style="background-image: url(img/bg-img/breadcumb.jpg);">
        <div class="bradcumbContent">
            <h2>Our Courses</h2>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Top Popular Courses Area Start ##### -->
    <div class="top-popular-courses-area mt-50 section-padding-100-70">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                        <span>The Best</span>
                        <h3>Top Popular Courses</h3>
                    </div>
                </div>
            </div>
           
           <div class="row">
            <div class="col-md-4" id="kk">
                <h11 style="width: 600px;"><span style="color: transparent;">-------</span> 8th To 10th Std.<span style="color: transparent;">--------</span></h11>
                <br><br><br>
                <div class="row">
                    <div class="col-md-12">

                        <label id="lab">: Medium :</label>
                        <br>
                        <label>Eng/Semi-Eng/Marathi</label>
<br>
<hr>

                    </div>
                </div>
                   <div class="row">
                    <div class="col-md-12">

                        <label id="lab">: Subject Offered :</label>
                        <br>
                        <label>Eng., Maths,Science ,Social Studies,Hindi,Marathi,Sanskrit.</label>
<br>
<hr>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">

                        <label id="lab">: Suitable Batches :</label>
                        <br>
                        <label>Morning / Evening <br>Special Teachers For Every Subject.</label>
<br>
<hr>

                    </div>
                </div>

               <!--  <div class="row">
                    <div class="col-md-12">

                        <label id="lab">: 10th packages :</label>
                        <br>
                        <label>V.C.R.(April to March)<br>Summer Vacation<br>Regular (June to March)</label>
<br>
<hr>

                    </div>
                </div> -->
            </div>







             <div class="col-md-4"id="kk">
                 <h11><span style="color: transparent;"> -------</span> Science Stream<span style="color: transparent;">-------</span></h11>
             <br><br><br>
                <div class="row">
                    <div class="col-md-12">

                        <label id="lab">: 11th & 12th Science :</label>
                        <br>
                        <label>MH-CET (Medical/Engineering)</label>
<br>
<hr>

                    </div>
                </div>
                   <div class="row">
                    <div class="col-md-12">

                        <label id="lab">: Subject Offered :</label>
                        <br>
                        <label>PCMB<br>_</label>
<br>
<hr>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">

                        <label id="lab">: Suitable Batches :</label>
                        <br>
                        <label>Morning / Evening <br>Special Teachers For Every Subject.</label>
<br>
<hr>

                    </div>
                </div>

        <!--         <div class="row">
                    <div class="col-md-12">

                        <label id="lab">: 10th packages :</label>
                        <br>
                        <label>V.C.R.(April to Feb.)<br>Regular (June to Feb.)<br>MH-CET(Regular/Crash)</label>
<br>
<hr>

                    </div>
                </div> -->
            </div>
















            <div class="col-md-4"id="kk" >
                <h11> Com./Management<span style="color: transparent;">_</span>Stream</h11>
             <br><br><br>
                <div class="row">
                    <div class="col-md-12">

                        <label id="lab">: Course Offered :</label>
                        <br>
                        <label>Commerece: 11th,12th,FY,SY,TY & M.Com</label>
                        <br>
                        <label>Management: BBA,BCA,BBM,MBA,PGDBM</label>
<br>
<hr>

                    </div>
                </div>
                   <div class="row">
                    <div class="col-md-12">

                        <label id="lab">: Subject Offered :</label>
                        <br>
                        <label>Commerece:11th & 12th- A/C's,Eng,Maths,O.C,S.P,Eco.<br> F.Y.B.com :A/C's,Maths <br>
                         S.Y.B.com :A/C's,Costing<br>
                          T.Y.B.com :A/C's,Costing,Taxation & Auditing<br>
                          M.Com : A/C's,Mgt.A/C's,Taxation,Costing</label>
<br>
<hr>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">

                        <label id="lab">: Suitable Batches :</label>
                        <br>
                        <label>Morning / Evening <br><span style="color: red">Packages : </span>Semester Pattern</label>
<br>
<hr>

                    </div>
                </div>

               
            </div>
        </div>
    </div>
    <br><br><br>
    <!-- ##### Top Popular Courses Area End ##### -->

    <!-- ##### Top Popular Courses Details Area Start ##### -->
    <!-- <div class="popular-course-details-area wow fadeInUp" data-wow-delay="300ms">
        <div class="single-top-popular-course d-flex align-items-center flex-wrap">
            <div class="popular-course-content">
                <h5>Business for begginers</h5>
                <span>By Simon Smith   |  March 18, 2018</span>
                <div class="course-ratings">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <p>Cras vitae turpis lacinia, lacinia lacus non, fermentum nisi. Donec et sollicitudin est, in euismod. Morbi vel arcu gravida, iaculis lacus vel, posuere ipsum. Sed faucibus mauris vitae urna consectetur, sit amet maximus nisl sagittis. Ut in iaculis enim, et pulvinar mauris. Etiam tristique magna eget velit consectetur, a tincidunt velit dictum. Cras vulputate metus id felis ornare hendrerit. Maecenas sodales suscipit ipsum.</p>
                <a href="#" class="btn academy-btn btn-sm mt-15">See More</a>
            </div>
            <div class="popular-course-thumb bg-img" style="background-image: url(img/bg-img/bg-4.jpg);"></div>
        </div>
    </div> -->
    <!-- ##### Top Popular Courses Details Area End ##### -->

    <!-- ##### Course Area Start ##### -->
    <div class="academy-courses-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <!-- Single Course Area -->
                <div class="col-12 col-lg-4">
                    <div class="single-course-area d-flex align-items-center mb-100">
                        <div class="course-icon">
                            <i class="icon-id-card"></i>
                        </div>
                        <div class="course-content">
                            <a href="about-us.html"><h4>Qualified & Experienced Staff</h4></a>
                            <!-- <p>Cras vitae turpis lacinia, lacinia la cus non, fermentum nisi.</p> -->
                        </div>
                    </div>
                </div>
                <!-- Single Course Area -->
                <div class="col-12 col-lg-4">
                    <div class="single-course-area d-flex align-items-center mb-100">
                        <div class="course-icon">
                            <i class="icon-worldwide"></i>
                        </div>
                        <div class="course-content">
                            <h4>Result Oriented</h4>
                        </div>
                    </div>
                </div>
                <!-- Single Course Area -->
                <div class="col-12 col-lg-4">
                    <div class="single-course-area d-flex align-items-center mb-100">
                        <div class="course-icon">
                            <i class="icon-map"></i>
                        </div>
                        <div class="course-content">
                            <a href="index.html"><h4>Extra Curriculum</h4></a>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <!-- ##### Course Area End ##### -->

    <!-- ##### CTA Area Start ##### -->
    <div class="call-to-action-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cta-content d-flex align-items-center justify-content-between flex-wrap">
                        <h3>Do you want to enrole at our Academy? Get in touch!</h3>
                        <a href="contact.html" class="btn academy-btn">See More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### CTA Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="main-footer-area section-padding-100-0">
            <div class="container">
                <div class="row">
                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="footer-widget mb-100">
                             <div class="login-content">
                               <a href="index.html"> <b style="font-size: 20px;color: white;margin-left: -80px;"><u class="kk"><kk class="kk" >D</kk>heeraj <kk class="kk" >A</kk>cademy</u></b></a>
                            </div>


                            <div class="widget-title" style="margin-top: 33px">
                                <!-- <a href="#"><img src="img/core-img/logo.png" alt=""  style="width: 30%;height: 30%;margin-top: 35px;"></a> -->
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.131650358758!2d73.82143331465466!3d18.477694987434013!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2955ea2a4832d%3A0x18cd6cf02d5236fc!2sDHEERAJ%20ACADEMY!5e0!3m2!1sen!2sin!4v1572861837279!5m2!1sen!2sin" width="255" height="170" frameborder="3" style="border:3;margin-left: -75px;" allowfullscreen=""></iframe> 
                            </div>

                            
                            <div class="footer-social-info">
                                <a href="#"><i class="fa fa-facebook" style="font-size: 28px;"></i></a>
                                <a href="#"><i class="fa fa-twitter" style="font-size: 28px;"></i></a>
                               <!--  <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-behance"></i></a> -->
                                <a href="#"><i class="fa fa-instagram" style="font-size: 28px;"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                                <center><h6>Gallery</h6></center>
                            </div>
                            <div class="gallery-list d-flex justify-content-between flex-wrap">
                                <div class="row">
                                    <div class="col-md-4">
                                <a href="img/Functions/1.jpg" class="gallery-img" title="Gallery Image 1"><img src="img/Functions/1.jpg" alt=""></a>
                                    </div>

                                    <div class="col-md-4">
                                <a href="img/Functions/2.jpg" class="gallery-img" title="Gallery Image 2"><img src="img/Functions/2.jpg" alt=""></a>
                                    </div>

                                    <div class="col-md-4">
                                <a href="img/Functions/3.jpg" class="gallery-img" title="Gallery Image 3"><img src="img/Functions/3.jpg" alt="" style="margin-bottom: 12px;"></a>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-4">    
                                <a href="img/Functions/4.jpg" class="gallery-img" title="Gallery Image 4"><img src="img/Functions/4.jpg" alt=""></a>
                                    </div>

                                    <div class="col-md-4">
                                <a href="img/Functions/5.jpg" class="gallery-img" title="Gallery Image 5"><img src="img/Functions/5.jpg" alt=""></a>
                                    </div>

                                    <div class="col-md-4">
                                <a href="img/Functions/6.jpg" class="gallery-img" title="Gallery Image 6"><img src="img/bg-img/gallery6.jpg" alt=""></a>
                                    </div>
                                </div>    
                            </div>
                        </div>
                    </div>
                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                                <center><h6 style="margin-left: 218px;">Contact</h6></center>
                            </div>
                            <div  ng-repeat="data in left | filter:'active':true">
                            <div class="single-contact d-flex mb-50">
                                <i class="icon-placeholder"></i>
                                <p style="color: white;">{{data.address}}</p>
                            </div>
                            </div>
                           <!--  <div class="single-contact d-flex mb-50">
                                <i class="icon-telephone-1"></i>
                                <p style="color: white;">शाखा १ : ऑफिस नं . २०१ ,मोहिते पॅराडाईस ,पुना बेकरीच्या वर ,सिहंगड रोड ,पुणे -४११ ०५१. </p>
                            </div> -->
                        
                        </div>
                    </div>
                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div  ng-repeat="data in right | filter:'active':true">
                        <div class="footer-widget mb-100" style="margin-top: 72px;">
                            
                            <div class="single-contact d-flex mb-50">
                                <i class="icon-telephone-1"></i>
                                <p style="color: white;">{{data.address}}</p>
                            </div>
                            <!-- <div class="single-contact d-flex">
                                <i class="icon-contract"></i>
                                <p style="color: white;">ashwincnisal@gmail.com</p>
                            </div> -->
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>



</div>    
</body>

</html>