<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!-- Title -->
    <title>Dheeraj Academy</title>


    <style type="text/css">

    </style>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="style.css">



<!-- priya -->

    <link rel="stylesheet" href="css/angular-material.css">
  <link rel="stylesheet" href="css/angular-material.min.css">
 <!--  <link rel="stylesheet" href="resources/assets/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="css/smart-table.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">




  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>






<!-- priya -->


  <script src="js/angular.min.js"></script>  
  <script src="js/angular-animate.min.js"></script>
  <script src="js/angular-aria.min.js"></script>
  <script src="js/angular-messages.min.js"></script>
  <script src="js/angular-material.min.js"></script> 
  
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/smart-table.min.js"></script>
  <script src="js/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="js/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="js/ui-bootstrap-tpls.js"></script>

 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>


<script type="text/javascript" src="profile.js"></script>



<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>





</head>

<body>


    <div ng-app='apppp' ng-controller="newcntrl">
    <!-- ##### Preloader ##### -->
    <div id="preloader">
        <i class="circle-preloader"></i>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        
            <div class="container h-100">
                <div class="row"style="text-align: left;">
                    <div class="col-md-1.5"style="text-align: right;">
                       
                            
                                <a href="img/core-img/logo.png" style="width: 50%;height: 50%;"><img src="img/core-img/logo.png" style="width: 100px;height: 90px;" alt=""></a>
                            
                            </div>

                            <div class="col-md-5" style="text-align: left;"><br><br>
                                <div class="login-content">
                               <a href="index.html"> <b style="font-size: 20px;"><u class="kk"><kk class="kk" >D</kk>heeraj <kk class="kk" >A</kk>cademy</u></b></a>
                            </div>
                        </div>


                  <!--  <div class="col-md-6 pull-right"style="text-align: right;"><br><br>
                            <div class="login-content">
                                <a href="#">Register / Login</a>
                            </div>
                        </div> -->
                    </div>
                </div>
            
      
      

        <!-- Navbar Area -->
        <div class="academy-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="academyNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul><li style="color: transparent;">---</li>
                                    <!-- <li><a href="img/core-img/logo.png"><img src="img/core-img/logo.png" style="width:100px;height: 60px;" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html"> <b style="font-size: 20px;"><u>Dheeraj Academy</u></b></a>
</li> -->
                                    <li><a href="index.html"><strong style="font-size: 14px;"><b>Home</b></strong></a></li><li style="color: transparent;">------</li>
                                    <!-- <li><a href="#">Pages</a>
                                        <ul class="dropdown">
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="about-us.html">About Us</a></li>
                                            <li><a href="course.html">Course</a></li>
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                            <li><a href="elements.html">Elements</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Mega Menu</a>
                                        <div class="megamenu">
                                            <ul class="single-mega cn-col-4">
                                                <li><a href="#">Home</a></li>
                                                <li><a href="#">Services &amp; Features</a></li>
                                                <li><a href="#">Accordions and tabs</a></li>
                                                <li><a href="#">Menu ideas</a></li>
                                                <li><a href="#">Students Gallery</a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li><a href="#">Home</a></li>
                                                <li><a href="#">Services &amp; Features</a></li>
                                                <li><a href="#">Accordions and tabs</a></li>
                                                <li><a href="#">Menu ideas</a></li>
                                                <li><a href="#">Students Gallery</a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li><a href="#">Home</a></li>
                                                <li><a href="#">Services &amp; Features</a></li>
                                                <li><a href="#">Accordions and tabs</a></li>
                                                <li><a href="#">Menu ideas</a></li>
                                                <li><a href="#">Students Gallery</a></li>
                                            </ul>
                                            <div class="single-mega cn-col-4">
                                                <img src="img/bg-img/bg-1.jpg" alt="">
                                            </div>
                                        </div>
                                    </li> -->
                                    <li><a href="about-us.html"><strong style="font-size: 14px;"><b>About Us</b></strong></a></li>
                                    <li style="color: transparent;">------</li>
                                    <li><a href="Why.html"><strong style="font-size: 14px;"><b>Why DA ?</b></strong></a></li>
                                    <li style="color: transparent;">------</li>
                                    <li><a href="course.html"><strong style="font-size: 14px;"><b>Course</b></strong></a></li>
                                    <li style="color: transparent;">------</li>
                                    <li><a href="contact.html"><strong style="font-size: 14px;"><b>Contact</b></strong></a></li>
                                    <li style="color: transparent;">---</li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>

                        <!-- Calling Info -->
                        <div class="calling-info">
                            <div class="call-center">
                                <a href="tel:0204350752"><i class="icon-telephone-2"></i> <span>020 24350752</span></a><br>
                                <!-- <a href="tel:+919890577558"><i class="icon-telephone-2"></i> <span>(+91) 9890577558</span></a> -->
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img" style="background-image: url(img/bg-img/breadcumb.jpg);">
        <div class="bradcumbContent">
            <h2 style="margin-top: -2px;"  class=" w3-hover-shadow">Profile Information</h2>
        </div>
    </div>
   

<form class="w3-container">

                  <div class="panel panel-default">

                            <div class="panel-heading  " style="margin-top: 24px; background-color: #ddff54">


<!--  <div class="row">
                                  <a class="btn btn-primary" data-toggle="modal" data-target="#myModal"> <div class="tablebutton glyphicon glyphicon-search"></div> </a>

                              </div>

 -->


 <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->
<div class="col-md-offset-12 tablebutton glyphicon glyphicon-search" style="margin-left: 95%;" data-toggle="modal" data-target="#myModal">
  
</div>.

                            </div>
                                   <div class="panel-body" style="margin-top: 31px;">

                                      <div class="row"></div>

                                           <div class="row form-group">
                                              <div class="col-md-12">
                        

                                               <div class="col-md-4">

                                                <label>
                                                 Profile</label>
                                                  <input  type="file" class=" w3-input  " ng-model="profileobj.Profile">
                                                   
                                              </div>

                                                    <div class="col-md-4">
                                                    <label> Name</label>
                                                    <input class="w3-input" type="text" ng-model="profileobj.name">

                                                  </div>


                                                      <div class="col-md-4">
                                                     <label>Qualification</label>
                                                      <input class="w3-input" type="text"  ng-model="profileobj.qualification">
                                                      </div>




                           

                                                 </div>
                           
                          
                                    </div>






















                                   </div>



              <div class="panel-footer">

     <div class="row">

        <div class="col-md-offset-5 col-md-4 ">
      
  <button class="w3-button w3-black" ng-show="btnSave" ng-click="initBtn(); ">save</button>

  <button class="w3-button w3-black"   ng-show="btnUpdate" ng-click="initBtn();">Modify</button>
 



   <button class="w3-button w3-black">clear</button>

  <button class="w3-button w3-black">cancel</button>


</div>
</div>
    </div>





                   </div>



















<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg" style="margin-left: -309px;margin-top: 136px;">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          
        </div>
        <div class="modal-body">
          
<div class="container-fluid" style="margin-top: 2%;">
         <div class="panel panel-primary" style="border: 3px solid black;border-radius: 32px;">

      <div class="panel-body  w3-hover-shadow" >


<div class="table-responsive">
<table st-table="Detailtable" st-safe-src="Detailtable" class="table table-hover"> 
       <thead>  
               <tr>  
              <td colspan=9><input st-search="" ng-model="search " class="form-control"  
                placeholder="global search ..." type="text"/ style="margin-top: 39px;"></td>
  </tr> 


          <th>Sr.no</th>
      
          <th>Profile pic</th> 
          <th>Name</th> 
          <th>Qualification</th> 
          <th>Action</th>

              </thead>
        <tbody>
  
            <tr ng-repeat="row in Detailtable|filter:search" class=" w3-hover-border-black">
                <td style="color: black"  class=" w3-hover-shadow">{{$index+1}}</td>
               <td class=" w3-hover-shadow">{{row.Profile}}</td>
               <td class=" w3-hover-shadow">{{row.name}}</td>
               <td class=" w3-hover-shadow">{{row.qualification}}</td>
              
          
          <td>
            <button class="btn-hover color-1" data-toggle="tooltip" title="edit"
            ng-click="editbtn();edit(row.companyId);" >
            <i class="glyphicon glyphicon-pencil">
              
            </i>
          </button>

          <button class="btn-hover color-1" data-toggle="tooltip" title="edit"
            ng-click="delete(row.companyId);" >
            <i class="glyphicon glyphicon-shopping-cart">
              
            </i>
          </button>
        </td>

              </tr>
            </tbody>

        </table>
      </div>
      </div>
  </div>
</div>



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<!-- <div id="myModal" class="modal fade left">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;<span class="sr-only">Close</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>Modal body</p>
      </div>
    </div>
  </div>
</div>
 -->


















             </form>


     <footer class="footer-area">
        <div class="main-footer-area section-padding-100-0">
            <div class="container">
                <div class="row">
                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                                <a href="#"><img src="img/core-img/logo.png" alt=""  style="width: 30%;height: 30%;"></a>
                            </div>
                            
                            <div class="footer-social-info">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-behance"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div><div class="login-content">
                               <a href="index.html"> <b style="font-size: 20px;color: white;"><u class="kk"><kk class="kk" >D</kk>heeraj <kk class="kk" >A</kk>cademy</u></b></a>
                            </div>
                    </div>
                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        
                    </div>
                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                                <h6>Gallery</h6>
                            </div>
                            <div class="gallery-list d-flex justify-content-between flex-wrap">
                                <a href="img/Functions/1.jpg" class="gallery-img" title="Gallery Image 1"><img src="img/Functions/1.jpg" alt=""></a>
                                <a href="img/Functions/2.jpg" class="gallery-img" title="Gallery Image 2"><img src="img/Functions/2.jpg" alt=""></a>
                                <a href="img/Functions/3.jpg" class="gallery-img" title="Gallery Image 3"><img src="img/Functions/3.jpg" alt=""></a>
                                <a href="img/Functions/4.jpg" class="gallery-img" title="Gallery Image 4"><img src="img/Functions/4.jpg" alt=""></a>
                                <a href="img/Functions/5.jpg" class="gallery-img" title="Gallery Image 5"><img src="img/Functions/5.jpg" alt=""></a>
                                <a href="img/Functions/6.jpg" class="gallery-img" title="Gallery Image 6"><img src="img/bg-img/gallery6.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                                <h6>Contact</h6>
                            </div>
                            <div class="single-contact d-flex mb-50">
                                <i class="icon-placeholder"></i>
                                <p style="color: white;">हेड ऑफिस : फ्लॅट नं. १० ,अरुणा अपार्टमेंट ,मोहिते टाऊनशिप ,सिंहगड रोड ,पुणे-४११ ०५१ </p>
                            </div>
                            <div class="single-contact d-flex mb-50">
                                <i class="icon-telephone-1"></i>
                                <p style="color: white;">शाखा १ : ऑफिस नं . २०१ ,मोहिते पॅराडाईस ,पुना बेकरीच्या वर ,सिहंगड रोड ,पुणे -४११ ०५१. </p>
                            </div>
                            <div class="single-contact d-flex mb-50">
                                <i class="icon-telephone-1"></i>
                                <p style="color: white;">शाखा २ : फ्लॅट नं . , नाकोडा निवास ,अभिरुची जवळ ,वडगांव बु ।।,सिहंगड रोड ,पुणे -४११ ०५१</p>
                            </div>
                            <div class="single-contact d-flex">
                                <i class="icon-contract"></i>
                                <p style="color: white;">ashwincnisal@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>


    </div>
</body>

</html>